@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer--background-color {
  background-color: #434343 !important;
}

.footer-disclaimer {
  color: white;
}

.footer .ant-dropdown-trigger {
  color: white !important;
  text-transform: uppercase;
}
.footer a,
.footer-linkButton {
  color: #50a684 !important;
}

.footer .ant-space-item:last-of-type {
  color: white;
}
